@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #191717;
}

input[type="month"] {
  -webkit-appearance: none;
  height: 46px;
}

input[type="date"] {
  -webkit-appearance: none;
  height: 46px;
}
